h1 {
	font-family: "Times New Roman", Times, serif;
}



.tableLayout3 {

}

td {
	width: 50%;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #efefef;
	text-align: center;
}


#profilePic {
	width: 20%;
	height: 20%;
}

.sm-twitter {
	width: 5%;
	height: 5%;
}








/*Semantic mark-up for all major elements.
1. Validate your html page with W3 validator: https://validator.w3.org/
Appropriate folder structure: images, css.*/